@tailwind base; 
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card{
    @apply bg-white rounded overflow-hidden shadow-md relative
  }
  .badge{
    @apply text-xs uppercase font-bold rounded-full p-2 absolute top-2 left-2;
  }
  .btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider
  }
}


