@tailwind base; 
@tailwind components;
@tailwind utilities;

@layer utilities {
  .para{
    @apply mr-5 text-xl text-gray-500 cursor-pointer hover:text-gray-900 ease-in-out duration-300 text-center;
  }
  .para1{
    @apply mb-3 text-gray-500 hover:text-gray-900 ease-in-out duration-300;
  }
  .image{
    width:250px; 
    height: 250px;
    border: 0 solid transparent;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }
  @keyframes animate {
    0%, 100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
  .myshade{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}


